<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- 多环境配置，配置项在bootstrap.yml中 -->
    <springProperty name="logPath" source="logger.path"/>

    <!-- 控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,%i索引【从数字0开始递增】,,, -->
            <pattern>%d %p [%t] (%file:%line\)- %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 输出到控制台，且同时输出到output文件，并且错误信息同时输出到error日志文件 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>